#logos{
	// outline: solid 1px red;
    background-color:#e4e4e4;
	padding:30px 20px 15px 20px;
	box-sizing:border-box;
	overflow:hidden;

    .left{
        width: 100%;
        @include breakpoint(692px){
            width: 35%;
        }
        // outline: solid 1px green;
    }

    .right{
        width: 100%;
        @include breakpoint(692px){
            width: 100%-35%;
        }
        // outline: solid 1px green;
        overflow: hidden;

        .content-column > a{
            // outline: solid 1px blue;
            display: block;
            overflow: hidden;
            width: 250px;
            margin: 0 auto;
            padding: 12px;

            @include breakpoint(768px){
                width: auto;
                min-width: 300px;
                float: right;
            }

            @include breakpoint(845px){
                min-width: initial;
            }
            
            img{
                float: left;
                margin: 0;
                @include breakpoint(max-width 480px){width: 25%;}
                @include breakpoint(max-width 768px){width: 75%;}
                @include breakpoint(max-width 992px){width: 75%;}
                @include breakpoint(max-width 1024px){width: auto;}
                // max-width: 200px;
                // padding: 12px;
            }
        }
    }

}

.seen{
    color: #2c2c2c;
    font-size: 45px;
    font-weight: 700;
    line-height: 36px;
    // width: 25%;
}

.seen span {
    background-color: #e4e4e4;
    color: #2c2c2c;
    font-size: 24px;
    font-weight: 600;
    line-height: 30px;}

// .carousel{width:75%;}

.owl-carousel-item-text {
    text-align: left !important;
}

.owl-carousel .owl-item {
    float: left;
	margin: 0 15px 0 0;
	width:auto !important;
}

.owl-carousel .item img {
	transition: all 0.5s ease;
	width:auto !important;
}
.owl-carousel .item:hover img {
    opacity:0.3;
	transition: all 0.5s ease;
}
.owl-carousel-item-imgoverlay,
.owl-theme .owl-controls
{display:none !important;}

.carousel img:hover {
    opacity:0.3;
	transition: all 0.5s ease;
}