header{
    background: rgba(255,255,255,0.75);
    box-sizing: border-box;
    padding-bottom: 15px;
    padding-top: 5px;
}

#logo h1 {
    height: 0;
    text-indent: -9999px;
}

.logo {
	@include breakpoint($screen-sm){
		position: relative;
		z-index: 99;
		margin-top:-42px;
		margin-left: px;
	}
}

#logo{width:25%;}

.topbar {
	border-bottom : 1px #d3d6d8 solid;
	overflow      : hidden;
	position      : absolute;
	top           : 5px;
	right         : 0;
	width         : 100%;
	z-index       : 1;

	@include breakpoint($screen-sm){
		position: relative;
		top           : 5px;
		right         : 0;
		width         : auto;
	}


	& > .container{
		display: flex;
		justify-content: flex-end;
		flex-direction: column;
		align-items: flex-end;
		@include breakpoint($screen-sm){ flex-direction: row; }
	}

	.tollfree {
		font-size        : 16px;
		font-weight      : 400;
		padding          : 12px 15px;
		color            : #fff;
		background-color : #283859;
		width            : 45%;
		margin-bottom    : 12px;
		margin-right     : 10px;
		text-align       : right;
		@include breakpoint($screen-sm){ width: auto; }

		span{
			display: none;
			color: #7a94af;
			font-weight: 700; 
			@include breakpoint($screen-xs){
				display: inline;
			}
		}

		&:hover{
			background-color:#212121;
		}
	}
	
}
