.home {
    .slider {
        // z-index: 99;
        // min-height: 450px;
        // max-height: initial;
        // background-color: #e4e4e4;

        // outline: solid 1px red;
        position: relative;
        padding: 25px;
        padding-top: 7em;
        padding-bottom: 7em;
        &:after {
            content: "";
            width: 100%;
            position: absolute;
            height: 100%;
            top: 0;
            left: 0;
            background-color: rgba(0, 0, 0, 0.45);
        }
        // max-width: 1240px;
        margin-left: auto;
        margin-right: auto;
        max-height: initial;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        // overflow: hidden;
        @include breakpoint($screen-sm) {
            flex-direction: row;
        }

        .slider-cont,
        #leadform-home {
            // outline: solid 1px blue;
        }

        .slider-cont {
            .feature-slider {
                height: 100%;
            }
        }

        .slider-text {
            position: inherit;
            z-index: 99;
            margin-bottom: 15px;
            line-height: 30px;
            @include breakpoint($screen-sm) {
                margin-bottom: 0;
            }
            h1 {
                font-size: 2rem;
                @include breakpoint($screen-sm) {
                    font-size: 3rem;
                }
            }
            h2 {
                margin-top: 2em;
                font-size: 2em;
                a {
                    color: #ffffff;
                    &:hover {
                        color: #7a94af;
                    }
                }
                @include breakpoint($screen-sm) {
                    h2 {
                        font-size: 1.9em;
                    }
                }
            }
        }

        .slider-cont {
            $slider-height: 550px;

            width: susy-span(12);
            overflow: hidden;
            // max-height: $slider-height / 2;
            // background-color: rgba(#283859, 0.8);
            box-shadow: 0px 0px 10px rgba(#000, 0.4);
            @include breakpoint($screen-sm) {
                max-height: $slider-height;
            }
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;

            .slick-list {
                height: 100%;
                .slick-track {
                    height: 100%;
                }
            }

            // Image
            .slick-slide img,
            .slick-container img {
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;
                // max-height: $slider-height / 2;
                @include breakpoint($screen-sm) {
                    max-height: $slider-height;
                }
            }
        }

        #leadform-home {
            width: susy-span(11);
            margin-left: auto;
            margin-right: auto;
            margin-top: gutter();
            position: inherit;
            z-index: 99;
            @include breakpoint($screen-sm) {
                width: 30%;
                margin-top: 0;
                margin-left: initial;
                margin-right: initial;
            }
        }
    }

    .bgc-brand {
        background-color: lighten(#000, 70%);
        // padding: 12px 0;
    }

    #leadform-home {
        // outline: solid 1px red;

        // Design
        background-color: rgba(#283859, 0.8);
        box-shadow: 0px 0px 10px rgba(#000, 0.4);

        // Design

        h2 {
            display: block;
            padding: 0.25rem 1.1rem;
            color: #fff;
            text-transform: uppercase;
            text-align: center;
            font-size: 1.5rem;
            line-height: 1.2rem;
            font-weight: 900;
        }

        .input-item {
            display: flex;
            flex-direction: column;
            position: relative;

            label {
                // display: none;
                color: transparent;
                position: relative;
                height: 0;
                &:before {
                    content: "*";
                    position: absolute;
                    top: 18px;
                    left: 12px;
                    display: block;
                    width: 20px;
                    height: 20px;
                    z-index: 99;
                    color: #ff0000;
                }
            }

            // Input Fields
            .wpcf7-form-control-wrap {
                // outline: solid 1px red;
                display: block;
                padding: 0.35rem 0.5rem;
                // padding: 0 0.5rem;

                option {
                    font-size: 1rem;
                }

                input {
                    display: block;
                    width: 100%;
                    padding: 0.75rem 1rem;
                    font-size: 1rem;
                    &:placeholder {
                        font-size: 1rem;
                    }
                }
            }
        }

        // Submitt Button
        .wpcf7-submit {
            display: block;
            width: susy-span(6);
            padding: gutter();
            margin-left: auto;
            margin-right: auto;
            margin-bottom: gutter() / 2;

            // Design
            text-transform: uppercase;
            font-weight: 800;
            font-size: 1.1rem;
            background-color: #283859;
            color: #fff;
            border: solid 1px lighten(#283859, 20%);

            &:hover,
            &:focus {
                background-color: lighten(#283859, 4%);
            }
        }

        // Validation
        .wpcf7-validates-as-required {
            &:after {
                content: "*";
                color: red;
            }
        }

        // Recaptcha
        .g-recaptcha {
            transform: scale(0.71);
            transform-origin: 0 0;
        }
    }
}

#leadform {
    // outline: solid 1px yellow;
    background-color: #283859;
    box-sizing: border-box;
    color: #fff;
    overflow: hidden;
    padding: 10px 35px 15px;
}

// Hide forced line break on mobile
#wpcf7-f8-p6-o1 form > br {
    display: none;
    @include breakpoint(840px) {
        display: initial;
    }
}

// Home Page Lead form title
.consult {
    // outline: solid 1px red;
    float: left;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0.5px;
    width: 35%;
    @include breakpoint(940px) {
        width: 25%;
    }

    span {
        font-weight: 900;
        color: #5376bf;
        margin-bottom: 8px;
        line-height: 1.1;
        @include breakpoint(692px) {
            display: block;
        }
        @include breakpoint(840px) {
            font-size: 45px;
        }
    }

    br {
        display: none;
    }
}

.form {
    // outline: solid 1px red;
    width: 65%;
    @include breakpoint(940px) {
        width: 75%;
    }
}

// .consult span {
//     color: #5376bf;
//     font-size: 50px;
//     font-weight: 900;
//     line-height: 50px;
// }

#leadform input[type="submit"] {
    font-family: "Muli", sans-serif;
    background: #5376bf;
    color: #283859;
    font-size: 21px;
    line-height: 24px;
    padding: 10px 25px;
    text-transform: uppercase;
    box-shadow: none;
    border: none;
    font-weight: 800; /* extra bold */
    width: 100%;

    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}

#leadform input[type="submit"]:hover {
    background-color: #fff;

    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}

input[type="text"],
input[type="your-name"],
input[type="tel"],
input[type="password"],
input[type="email"],
input[type="url"],
input[type="number"],
textarea,
select {
    background: #fff;
    border: 1px solid #ccc;
    color: #888888;
    padding: 9px;
    width: 100%;
    font-size: 14px;
    box-sizing: border-box;
}

aside input {
    color: #888888;
}

aside input::-webkit-input-placeholder {
    color: #888888 !important;
}

aside input:-moz-placeholder {
    /* Firefox 18- */
    color: #888888 !important;
}

aside input::-moz-placeholder {
    /* Firefox 19+ */
    color: #888888 !important;
}

aside input:-ms-input-placeholder {
    color: #888888 !important;
}

select {
    font-family: "Muli", sans-serif;
    font-size: 15px;
    line-height: 26px;
    padding: 10px 0 10px 5px !important;
    color: #888888;
}

#leadform .content-column {
    padding-right: 10px !important;
    box-sizing: border-box;
}

div.wpcf7 {
    position: relative;
    top: 12px;
}
