nav {
	background: transparent;
	display: inline-block;
	float: right;
	margin: 25px auto 0;
}



nav .menu-header ul,
div.menu ul {
	list-style: none;
	margin: 0;
}



nav .menu-header li,
div.menu li {
	float: left;
	position: relative;
}

nav a {
	color: #283859 !important;
	font-family: 'Muli', sans-serif;
	display: block;
	line-height: 24px;
	font-size:16px;
	font-weight:600;
	padding: 0 10px;
	text-decoration: none;
	letter-spacing:0.5px;
}




nav ul ul {
	box-shadow: 0px 3px 3px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 3px 3px rgba(0,0,0,0.2);
	-webkit-box-shadow: 0px 3px 3px rgba(0,0,0,0.2);
	display: none;
	position: absolute;
	top: 38px;
	left: 0;
	float: left;
	width: 180px;
	z-index: 99999;
}
nav ul ul li {
	min-width: 180px;
}
nav ul ul ul {
	left: 100%;
	top: 0;
}
nav ul ul a {
	background: #333;
	line-height: 1em;
	padding: 10px;
	width: 160px;
	height: auto;
}
nav li:hover > a,
nav ul ul :hover > a {
	background: #333;
	color: #fff;
}
nav ul li:hover > ul {
	display: block;
}
nav ul li.current_page_item > a,
nav ul li.current_page_ancestor > a,
nav ul li.current-menu-ancestor > a,
nav ul li.current-menu-item > a,
nav ul li.current-menu-parent > a {
	color: #fff;
}
* html nav ul li.current_page_item a,
* html nav ul li.current_page_ancestor a,
* html nav ul li.current-menu-ancestor a,
* html nav ul li.current-menu-item a,
* html nav ul li.current-menu-parent a,
* html nav ul li a:hover {
	color: #fff;
}


