$mypractice-h: 367px;


#practicewrap{
	// outline: solid 1px red;
	text-align:center;
	margin:50px 0px;
	clear:both;
	overflow:hidden;
	font-size:14px;
	color:#212121;

	.content-column{
		// outline: solid 1px gray;
		height: $mypractice-h;
	}
}

.subtitle{
	font-size:14px;
	font-weight:700; /*bold*/
	text-transform:uppercase;
	letter-spacing:1px;}

.title{
	font-size:30px;
	line-height:36px;
	font-weight:600; /*semibold*/
	text-transform:uppercase;
	letter-spacing:1px;
	margin-bottom:30px;
}

.practitle{
	font-size:21px;
	line-height:24px;
	font-weight:600; /*semibold*/
	letter-spacing:.5px;
	display:inline-block;
}



.sep{
	border-left:medium #aeaeae solid; 
	height:30px;
	display:block;
	width:1px;
	margin:10px auto;
}


.practice{
	padding:30px;
	box-sizing:border-box;
	font-size:14px;
	font-weight:400;
}

.feature{
	background-color:#283859;
	color:#fff;
	padding: 50px;
	height: $mypractice-h;
}

.num{
	font-size:30px;
	line-height:30px;
	font-weight:400;
	color:#aeaeae;
}

.space{margin:30px 0px;display:block;}

.icon{
	background: url("/wp-content/themes/quaylaw/images/scale-icon.png") no-repeat;
	width:66px;
	height:30px;
	margin:0px auto 5px auto;
}
.picon1{
	background: url("/wp-content/themes/quaylaw/images/picon1.png") no-repeat;
	width:60px;
	height:60px;
	margin:5px auto 5px auto;
}

.picon2{
	background: url("/wp-content/themes/quaylaw/images/picon2.png") no-repeat;
	width:60px;
	height:60px;
	margin:5px auto 5px auto;
}

.picon3{
	background: url("/wp-content/themes/quaylaw/images/picon3.png") no-repeat;
	width:60px;
	height:60px;
	margin:5px auto 5px auto;
}

.picon4{
	background: url("/wp-content/themes/quaylaw/images/picon4.png") no-repeat;
	width:60px;
	height:60px;
	margin:5px auto 5px auto;
}

.picon5{
	background: url("/wp-content/themes/quaylaw/images/picon5.png") no-repeat;
	width:70px;
	height:70px;
	margin:5px auto 0px auto;
}

.picon6{
	background: url("/wp-content/themes/quaylaw/images/picon6.png") no-repeat;
	width:60px;
	height:60px;
	margin:5px auto 5px auto;
}

.picon7{
	background: url("/wp-content/themes/quaylaw/images/picon7.png") no-repeat;
	width:60px;
	height:60px;
	margin:5px auto 5px auto;
}

.picon8{
	background: url("/wp-content/themes/quaylaw/images/picon8.png") no-repeat;
	width:60px;
	height:60px;
	margin:5px auto 5px auto;
}

.picon9{
	background: url("/wp-content/themes/quaylaw/images/picon9.png") no-repeat;
	width:60px;
	height:60px;
	margin:5px auto 5px auto;
}





