.slider {
    clear: both;
    max-height: 525px;
    overflow: hidden;
    // outline: solid 1px red;

  .btblueback {
    color: #fff;
    &:hover {
      color: $brand-primary;
    }
  }
}


.slider-text {
 width: 100%
}

.subimage {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}
