// ---- Susy Grid
  $susy: (
    'columns': susy-repeat(12),
    'gutters': 0.5, 
    'spread': 'narrow', 
    'container-spread': 'narrow',
  );


  // ----- Font Awesome
  $fa-font-path:        "./assets/dist/fonts";
  // $fa-font-size-base:   14px;
  // $fa-line-height-base: 1;
  // $fa-font-path:        "//netdna.bootstrapcdn.com/font-awesome/4.6.3/fonts"; // for referencing Bootstrap CDN font files directly
  // $fa-css-prefix:       fa;
  // $fa-version:          "4.6.3";
  // $fa-border-color:     #eee;
  // $fa-inverse:          #fff;
  // $fa-li-width:         (30em / 14); 

  // ----- Break Points
    $screen-xs : 480px;
    $screen-sm : 768px;
    $screen-md : 992px;
    $screen-lg : 1200px;


// ---- Colours

$brand-primary: #283859;
