/*!
Theme Name: Quay Law Centre (Bitbucket)
Author: Longevity Graphics
Author URI: http://www.longevitygraphics.com
Version: 1.1
Template: twentyten
*/

@import "susy";
@import "variables";
@import "font-awesome";
@import "breakpoint";

@import "slick-theme";
@import "slick";

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
    background: transparent;
    border: 0;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}
body {
    line-height: 1;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    clear: both;
    font-weight: normal;
}
h2 strong {
    font-weight: normal;
}
ol,
ul {
    list-style: none;
}
blockquote {
    quotes: none;
}
blockquote:before,
blockquote:after {
    content: "";
    content: none;
}
del {
    text-decoration: line-through;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
    border-collapse: collapse;
    border-spacing: 0;
}
a img {
    border: none;
}

/* =Layout
-------------------------------------------------------------- */
/*
LAYOUT: Two columns
DESCRIPTION: Two-column fixed layout with one sidebar right of content
*/
main#content {
    display: table-cell;
    margin: 0;
    padding: 0px 40px 0px 20px;
    box-sizing: border-box;
    width: 100%;
}
main#content.one-column {
    display: block;
    margin: 0;
    padding: 0 !important;
    width: 100%;
}
section.content.left-sidebar main#content {
    padding-right: 0px;
    padding-left: 21px;
}
aside {
    display: table-cell;
    min-width: 380px;
    width: 380px;
}

.sidebar-consultation {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    a {
        color: #fff !important;
        &:hover {
            text-decoration: underline !important;
        }
    }
}

/* =Fonts
-------------------------------------------------------------- */
body,
input,
textarea,
.page-title span,
.pingback a.url {
    font-family: "Muli", sans-serif;
}
h3#comments-title,
h3#reply-title,
nav .menu,
nav div.menu ul,
#cancel-comment-reply-link,
.form-allowed-tags,
#site-info,
#site-title,
#wp-calendar,
.comment-meta,
.comment-body tr th,
.comment-body thead th,
.entry-content label,
.entry-content tr th,
.entry-content thead th,
.entry-meta,
.entry-title,
.entry-utility,
#respond label,
.navigation,
.page-title,
.pingback p,
.reply,
.widget-title,
.wp-caption-text {
    font-family: "Muli", sans-serif;
}

pre {
    font-family: "Courier 10 Pitch", Courier, monospace;
}
code {
    font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}

/* =Structure
-------------------------------------------------------------- */
/* The main theme structure */
div.menu,
#branding,
section.content {
    margin: 0 auto;
    width: 1240px;
}
section.content {
    background: #fff;
    padding: 0;
    box-sizing: border-box;
}
#site-info {
    float: left;
    font-size: 14px;
    font-weight: bold;
    width: 700px;
}

/* =Global Elements
-------------------------------------------------------------- */
/* Main global 'theme' and typographic styles */
body {
    background: #fff;
}
body,
input,
textarea {
    color: #666;
    font-size: 12px;
    line-height: 18px;
    overflow-x: hidden;
}
hr {
    background-color: #e7e7e7;
    border: 0;
    clear: both;
    height: 1px;
    margin-bottom: 18px;
}
/* Text elements */
p {
    margin-bottom: 18px;
}
ul {
    list-style: disc;
    margin: 0 0 18px 1.5em;
}
ol {
    list-style: decimal;
    margin: 0 0 18px 1.5em;
}
ol ol {
    list-style: upper-alpha;
}
ol ol ol {
    list-style: lower-roman;
}
ol ol ol ol {
    list-style: lower-alpha;
}
ul ul,
ol ol,
ul ol,
ol ul {
    margin-bottom: 0;
}
dl {
    width: 60%;
    overflow: hidden;
    background: #fff;
    padding: 0;
    margin: 0;
}
dt {
    float: left;
    width: 30%;
    /* adjust the width; make sure the total of both is 100% */
    background: #283859;
    color: #fff;
    padding: 5px 5px 5px 10px;
    box-sizing: border-box;
    margin: 0;
}
dd {
    float: left;
    width: 70%;
    /* adjust the width; make sure the total of both is 100% */
    background: #ededed;
    padding: 5px 5px 5px 10px;
    box-sizing: border-box;
    margin: 0;
}

strong {
    font-weight: bold;
}
cite,
em,
i {
    font-style: italic;
}
big {
    font-size: 131.25%;
}
ins {
    background: #ffc;
    text-decoration: none;
}
blockquote {
    font-style: italic;
    padding: 0 3em;
}
blockquote cite,
blockquote em,
blockquote i {
    font-style: normal;
}
pre {
    background: #f7f7f7;
    color: #222;
    line-height: 18px;
    margin-bottom: 18px;
    overflow: auto;
    padding: 1.5em;
}
abbr,
acronym {
    border-bottom: 1px dotted #666;
    cursor: help;
}
sup,
sub {
    height: 0;
    line-height: 1;
    position: relative;
    vertical-align: baseline;
}
sup {
    bottom: 1ex;
}
sub {
    top: 0.5ex;
}
small {
    font-size: smaller;
}

section a:link,
section a:visited {
    color: #5376bf;
    text-decoration: none;
}
section a:active,
section a:hover {
    color: #7a94af;
    text-decoration: none;
}
a:link,
a:visited,
a:active,
a:hover {
    text-decoration: none;

    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;

    -webkit-appearance: none;
    border-radius: 0;
}
/* Text meant only for screen readers */
.screen-reader-text {
    position: absolute;
    left: -9000px;
}

/* =Menu
-------------------------------------------------------------- */
@import "navigation";

/* =Content
-------------------------------------------------------------- */
main#content,
main#content input,
main#content textarea {
    color: #212121;
    font-size: 16px;
    line-height: 24px;
}
main#content p,
main#content ul,
main#content ol,
main#content dd,
main#content pre,
main#content hr {
    margin-bottom: 24px;
}
main#content ul ul,
main#content ol ol,
main#content ul ol,
main#content ol ul {
    margin-bottom: 0;
}
main#content pre,
main#content kbd,
main#content tt,
main#content var {
    font-size: 15px;
    line-height: 21px;
}
main#content code {
    font-size: 13px;
}

main#content th {
    color: #000;
}
main#content h1,
main#content h2,
main#content h3,
main#content h4,
main#content h5,
main#content h6 {
    color: #283859;
    line-height: 1.5em;
    margin: 0 0 10px 0;
}
main#content table {
    border: 1px solid #e7e7e7;
    margin: 0 -1px 24px 0;
    text-align: left;
    width: 100%;
}
main#content tr th,
main#content thead th {
    color: #777;
    font-size: 12px;
    font-weight: bold;
    line-height: 18px;
    padding: 9px 24px;
}
main#content tr td {
    border-top: 1px solid #e7e7e7;
    padding: 6px 24px;
}
main#content tr.odd td {
    background: #f2f7fc;
}
.hentry {
    margin: 0 0 48px 0;
}
.home .sticky {
    background: #f2f7fc;
    border-top: 4px solid #000;
    margin-left: -20px;
    margin-right: -20px;
    padding: 18px 20px;
}
.single .hentry {
    margin: 0 0 36px 0;
}
.page-title {
    color: #000;
    font-size: 14px;
    font-weight: bold;
    margin: 0 0 36px 0;
}
.page-title span {
    color: #333;
    font-size: 16px;
    font-style: italic;
    font-weight: normal;
}
.page-title a:link,
.page-title a:visited {
    color: #777;
    text-decoration: none;
}
.page-title a:active,
.page-title a:hover {
    color: #ff4b33;
}
main#content .entry-title {
    font-family: "Muli", sans-serif;
    font-weight: 600;

    color: #283859;
    font-size: 24px;

    margin: 0 0 15px 0;
}
.entry-title a:link,
.entry-title a:visited {
    color: #283859;
    text-decoration: none;
}
.entry-title a:active,
.entry-title a:hover {
    color: #5376bf;
}
.entry-meta {
    color: #283859;
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 15px;
}
.entry-meta abbr,
.entry-utility abbr {
    border: none;
}
.entry-meta abbr:hover,
.entry-utility abbr:hover {
    border-bottom: 1px dotted #666;
}
main#content .entry-summary p:last-child {
    margin-bottom: 12px;
}
.entry-content fieldset {
    border: 1px solid #e7e7e7;
    margin: 0 0 24px 0;
    padding: 24px;
}
.entry-content fieldset legend {
    background: #fff;
    color: #000;
    font-weight: bold;
    padding: 0 24px;
}
.entry-content input.file,
.entry-content input.button {
    margin-right: 24px;
}
.entry-content label {
    color: #777;
    font-size: 12px;
}
.entry-content select {
    margin: 0 0 24px 0;
}
.entry-content sup,
.entry-content sub {
    font-size: 10px;
}
.entry-content blockquote.left {
    float: left;
    margin-left: 0;
    margin-right: 24px;
    text-align: right;
    width: 33%;
}
.entry-content blockquote.right {
    float: right;
    margin-left: 24px;
    margin-right: 0;
    text-align: left;
    width: 33%;
}
.page-link {
    clear: both;
    color: #000;
    font-weight: bold;
    line-height: 48px;
    word-spacing: 0.5em;
}
.page-link a:link,
.page-link a:visited {
    background: #f1f1f1;
    color: #333;
    font-weight: normal;
    padding: 0.5em 0.75em;
    text-decoration: none;
}
.home .sticky .page-link a {
    background: #d9e8f7;
}
.page-link a:active,
.page-link a:hover {
    color: #ff4b33;
}
body.page .edit-link {
    /*clear: both;
	display: none;*/
}
#entry-author-info {
    background: #f2f7fc;
    border-top: 4px solid #000;
    clear: both;
    font-size: 14px;
    line-height: 20px;
    margin: 24px 0;
    overflow: hidden;
    padding: 18px 20px;
}
#entry-author-info #author-avatar {
    background: #fff;
    border: 1px solid #e7e7e7;
    float: left;
    height: 60px;
    margin: 0 -104px 0 0;
    padding: 11px;
}
#entry-author-info #author-description {
    float: left;
    margin: 0 0 0 104px;
}
#entry-author-info h2 {
    color: #000;
    font-size: 100%;
    font-weight: bold;
    margin-bottom: 0;
}
.entry-utility {
    clear: both;
    color: #777;
    font-size: 12px;
    line-height: 18px;
}
.entry-meta a,
.entry-utility a {
    color: #777;
}
.entry-meta a:hover,
.entry-utility a:hover {
    color: #ff4b33;
}
main#content .video-player {
    padding: 0;
}

/* =Asides
-------------------------------------------------------------- */
.home main#content .format-aside p,
.home main#content .category-asides p {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 10px;
    margin-top: 0;
}
.home .hentry.format-aside,
.home .hentry.category-asides {
    padding: 0;
}
.home main#content .format-aside .entry-content,
.home main#content .category-asides .entry-content {
    padding-top: 0;
}
/* =Gallery listing
-------------------------------------------------------------- */
.format-gallery .size-thumbnail img,
.category-gallery .size-thumbnail img {
    border: 10px solid #f1f1f1;
    margin-bottom: 0;
}
.format-gallery .gallery-thumb,
.category-gallery .gallery-thumb {
    float: left;
    margin-right: 20px;
    margin-top: -4px;
}
.home main#content .format-gallery .entry-utility,
.home main#content .category-gallery .entry-utility {
    padding-top: 4px;
}

/* =Attachment pages
-------------------------------------------------------------- */
.attachment .entry-content .entry-caption {
    font-size: 140%;
    margin-top: 24px;
}
.attachment .entry-content .nav-previous a:before {
    content: "\2190\00a0";
}
.attachment .entry-content .nav-next a:after {
    content: "\00a0\2192";
}

/* =Images
-------------------------------------------------------------- */
/*
Resize images to fit the main content area.
- Applies only to images uploaded via WordPress by targeting size-* classes.
- Other images will be left alone. Use "size-auto" class to apply to other images.
*/
img.size-auto,
img.size-full,
img.size-large,
img.size-medium,
.attachment img,
.widget-container img {
    max-width: 100%; /* When images are too wide for containing element, force them to fit. */
    height: auto; /* Override height to match resized width for correct aspect ratio. */
}
.alignleft,
img.alignleft {
    display: inline;
    float: left;
    margin-right: 24px;
    margin-top: 4px;
}
.alignright,
img.alignright {
    display: inline;
    float: right;
    margin-left: 24px;
    margin-top: 4px;
}
.aligncenter,
img.aligncenter {
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
img.alignleft,
img.alignright,
img.aligncenter {
    margin-bottom: 12px;
}
.wp-caption {
    background: #f1f1f1;
    line-height: 18px;
    margin-bottom: 20px;
    max-width: 632px !important; /* prevent too-wide images from breaking layout */
    padding: 4px;
    text-align: center;
}
.wp-caption img {
    margin: 5px 5px 0;
    max-width: 622px; /* caption width - 10px */
}
.wp-caption p.wp-caption-text {
    color: #777;
    font-size: 12px;
    margin: 5px;
}
.wp-smiley {
    margin: 0;
}
.gallery {
    margin: 0 auto 18px;
}
.gallery .gallery-item {
    float: left;
    margin-top: 0;
    text-align: center;
    width: 33%;
}
.gallery-columns-2 .gallery-item {
    width: 50%;
}
.gallery-columns-4 .gallery-item {
    width: 25%;
}
.gallery img {
    border: 2px solid #cfcfcf;
}
.gallery-columns-2 .attachment-medium {
    max-width: 92%;
    height: auto;
}
.gallery-columns-4 .attachment-thumbnail {
    max-width: 84%;
    height: auto;
}
.gallery .gallery-caption {
    color: #777;
    font-size: 12px;
    margin: 0 0 12px;
}
.gallery dl {
    margin: 0;
}
.gallery img {
    border: 10px solid #f1f1f1;
}
.gallery br + br {
    display: none;
}
main#content .attachment img {
    /* single attachment images should be centered */
    display: block;
    margin: 0 auto;
}

/* =Navigation
-------------------------------------------------------------- */
.navigation {
    color: #777;
    font-size: 12px;
    line-height: 18px;
    overflow: hidden;
}
.navigation a:link,
.navigation a:visited {
    color: #283859;
    font-size: 12px;
    font-weight: 600;
    margin: 15px 0px;
    text-decoration: none;
}
.navigation a:active,
.navigation a:hover {
    color: #5376bf;
}
.nav-previous {
    float: left;
    width: 50%;
}
.nav-next {
    float: right;
    text-align: right;
    width: 50%;
}
#nav-above {
    margin: 0 0 18px 0;
}
#nav-above {
    display: none;
}
.paged #nav-above,
.single #nav-above {
    display: block;
}
#nav-below {
    border-top: 1px solid #aeaeae;
    padding-top: 10px;
}

/* =Comments
-------------------------------------------------------------- */
#comments {
    clear: both;
}
#comments .navigation {
    padding: 0 0 18px 0;
}
h3#comments-title,
h3#reply-title {
    color: #000;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 0;
}
h3#comments-title {
    padding: 24px 0;
}
.commentlist {
    list-style: none;
    margin: 0;
}
.commentlist li.comment {
    border-bottom: 1px solid #e7e7e7;
    line-height: 24px;
    margin: 0 0 24px 0;
    padding: 0 0 0 56px;
    position: relative;
}
.commentlist li:last-child {
    border-bottom: none;
    margin-bottom: 0;
}
#comments .comment-body ul,
#comments .comment-body ol {
    margin-bottom: 18px;
}
#comments .comment-body p:last-child {
    margin-bottom: 6px;
}
#comments .comment-body blockquote p:last-child {
    margin-bottom: 24px;
}
.commentlist ol {
    list-style: decimal;
}
.commentlist .avatar {
    position: absolute;
    top: 4px;
    left: 0;
}
.comment-author {
}
.comment-author cite {
    color: #000;
    font-style: normal;
    font-weight: bold;
}
.comment-author .says {
    font-style: italic;
}
.comment-meta {
    font-size: 12px;
    margin: 0 0 18px 0;
}
.comment-meta a:link,
.comment-meta a:visited {
    color: #777;
    text-decoration: none;
}
.comment-meta a:active,
.comment-meta a:hover {
    color: #ff4b33;
}
.commentlist .even {
}
.commentlist .bypostauthor {
}
.reply {
    font-size: 12px;
    padding: 0 0 24px 0;
}
.reply a,
a.comment-edit-link {
    color: #777;
}
.reply a:hover,
a.comment-edit-link:hover {
    color: #ff4b33;
}
.commentlist .children {
    list-style: none;
    margin: 0;
}
.commentlist .children li {
    border: none;
    margin: 0;
}
.nopassword,
.nocomments {
    display: none;
}
#comments .pingback {
    border-bottom: 1px solid #e7e7e7;
    margin-bottom: 18px;
    padding-bottom: 18px;
}
.commentlist li.comment + li.pingback {
    margin-top: -6px;
}
#comments .pingback p {
    color: #777;
    display: block;
    font-size: 12px;
    line-height: 18px;
    margin: 0;
}
#comments .pingback .url {
    font-size: 13px;
    font-style: italic;
}
/* Comments form */
input[type="submit"] {
    color: #333;
}
input[type="submit"]:hover {
    cursor: pointer;
}
#respond {
    border-top: 1px solid #e7e7e7;
    margin: 24px 0;
    overflow: hidden;
    position: relative;
}
#respond p {
    margin: 0;
}
#respond .comment-notes {
    margin-bottom: 1em;
}
.form-allowed-tags {
    line-height: 1em;
}
.children #respond {
    margin: 0 48px 0 0;
}
h3#reply-title {
    margin: 18px 0;
}
#comments-list #respond {
    margin: 0 0 18px 0;
}
#comments-list ul #respond {
    margin: 0;
}
#cancel-comment-reply-link {
    font-size: 12px;
    font-weight: normal;
    line-height: 18px;
}
#respond .required {
    color: #ff4b33;
    font-weight: bold;
}
#respond label {
    color: #777;
    font-size: 12px;
}
#respond input {
    margin: 0 0 9px;
    width: 98%;
}
#respond textarea {
    width: 98%;
}
#respond .form-allowed-tags {
    color: #777;
    font-size: 12px;
    line-height: 18px;
}
#respond .form-allowed-tags code {
    font-size: 11px;
}
#respond .form-submit {
    margin: 12px 0;
}
#respond .form-submit input {
    font-size: 14px;
    width: auto;
}

/* =Widget Areas
-------------------------------------------------------------- */
aside select {
    max-width: 100%;
}

#wp_tag_cloud div {
    line-height: 1.6em;
}
#wp-calendar {
    width: 100%;
}
#wp-calendar caption {
    color: #222;
    font-size: 14px;
    font-weight: bold;
    padding-bottom: 4px;
    text-align: left;
}
#wp-calendar thead {
    font-size: 11px;
}
#wp-calendar thead th {
}
#wp-calendar tbody {
    color: #aaa;
}
#wp-calendar tbody td {
    background: #f5f5f5;
    border: 1px solid #fff;
    padding: 3px 0 2px;
    text-align: center;
}
#wp-calendar tbody .pad {
    background: none;
}
#wp-calendar tfoot #next {
    text-align: right;
}
.widget_rss a.rsswidget {
    color: #000;
}
.widget_rss a.rsswidget:hover {
    color: #ff4b33;
}
.widget_rss .widget-title img {
    width: 11px;
    height: 11px;
}

/* =Footer
-------------------------------------------------------------- */
#site-info {
    font-weight: bold;
}
#site-info a {
    color: #000;
    text-decoration: none;
}
#site-generator {
    font-style: italic;
    position: relative;
}
#site-generator a {
    background: url(images/wordpress.png) center left no-repeat;
    color: #666;
    display: inline-block;
    line-height: 16px;
    padding-left: 20px;
    text-decoration: none;
}
#site-generator a:hover {
    text-decoration: underline;
}
img#wpstats {
    display: block;
    margin: 0 auto 10px;
}
/* =Mobile Safari ( iPad, iPhone and iPod Touch )
-------------------------------------------------------------- */
pre {
    -webkit-text-size-adjust: 140%;
}
code {
    -webkit-text-size-adjust: 160%;
}
nav,
.entry-meta,
.entry-utility,
.navigation,
aside {
    -webkit-text-size-adjust: 120%;
}
#site-description {
    -webkit-text-size-adjust: none;
}

/* =Print Style
-------------------------------------------------------------- */
@media print {
    body {
        background: none !important;
    }
    section.content {
        clear: both !important;
        display: block !important;
        float: none !important;
        position: relative !important;
    }
    .container {
        border-bottom: 2pt solid #000;
        padding-bottom: 18pt;
    }
    #site-title,
    #site-description {
        float: none;
        line-height: 1.4em;
        margin: 0;
        padding: 0;
    }
    #site-title {
        font-size: 13pt;
    }
    .entry-content {
        font-size: 14pt;
        line-height: 1.6em;
    }
    .entry-title {
        font-size: 21pt;
    }
    nav,
    #branding img,
    #respond,
    .comment-edit-link,
    .edit-link,
    .navigation,
    .page-link,
    aside {
        display: none !important;
    }
    main#content,
    .container {
        margin: 0;
        width: 100%;
    }
    main#content,
    main#content.one-column {
        margin: 24pt 0 0;
        width: 100%;
    }
    .wp-caption p {
        font-size: 11pt;
    }
    #site-info,
    #site-generator {
        float: none;
        width: auto;
    }
    img#wpstats {
        display: none;
    }
    #site-generator a {
        margin: 0;
        padding: 0;
    }
    #entry-author-info {
        border: 1px solid #e7e7e7;
    }
    .home .sticky {
        border: none;
    }
}

/**********************************MAX MEGA MENU************************************/

/*** this got rid of the horizontal scroll ****/

.mega-sub-menu {
    overflow: hidden;
}
/*** this got rid of the horizontal scroll ****/

#mega-menu-wrap-primary
    #mega-menu-primary
    > li.mega-menu-flyout
    ul.mega-sub-menu
    li.mega-menu-item
    a.mega-menu-link {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    color: #fff !important;
    display: block;
    font-family: inherit;
    font-size: 14px;
    font-weight: normal;
    line-height: 35px;
    padding: 0 10px;
    text-decoration: none;
    text-transform: none;
    vertical-align: baseline;
}

#mega-menu-wrap-primary
    #mega-menu-primary
    > li.mega-menu-flyout
    ul.mega-sub-menu
    li.mega-menu-item
    a.mega-menu-link {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    color: #fff;
    display: block;
    font-family: inherit;
    font-size: 14px;
    font-weight: normal;
    line-height: 18px !important;
    padding: 8px 10px !important;
    text-decoration: none;
    text-transform: none;
    vertical-align: baseline;
}

#mega-menu-wrap-primary .mega-menu-toggle {
    border-radius: 0px !important;
}

/**********************************GENERAL**********************************/

.subhead {
    color: #283859;
    font-family: "Muli", sans-serif;
    font-size: 24px;
    margin-bottom: 15px;
}

.white {
    color: #fff !important;
}

.dkblue {
    color: #283859;
}

.btblue {
    color: #5376bf;
}

.ltblue {
    color: #7a94af;
}

.grey {
    color: #aeaeae;
}

.dkblueback {
    background-color: #283859;
}

.btblueback {
    background-color: #5376bf;
}

.ltblueback {
    background-color: #7a94af;
}

.greyback {
    background-color: #aeaeae;
}

.btn {
    padding: 10px 25px;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 18px;
    font-weight: 600; /*semibold*/
    transition: all 0.5s ease;
    margin: 15px 0px;
}

.btn:hover {
    background-color: white;
    transition: all 0.5s ease;
}

.btn2 {
    padding: 10px 25px;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 18px;
    font-weight: 600; /*semibold*/
    transition: all 0.5s ease;
    margin: 15px 0px;
}

.btn2:hover {
    background-color: #283859;
    transition: all 0.5s ease;
}

.viewall {
    padding: 10px 25px;
    box-sizing: border-box;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 18px;
    font-weight: 600; /*semibold*/
    transition: all 0.5s ease;
    width: 30%;
    background-color: #7a94af;
    color: #fff !important;
    margin: 50px auto 20px auto;
    display: block;
}

.viewall:hover {
    background-color: #283859;
    transition: all 0.5s ease;
}

.block {
    display: block;
}

.left {
    float: left;
}
.right {
    float: right;
}

.padtop {
    padding-top: 15px;
}

.home p {
    margin: 0 !important;
}

/**********************************BLOG**********************************/

.entry-utility {
    color: #212121 !important;
}

.entry-utility a {
    color: #5376bf !important;
}

.entry-utility a:hover {
    color: #aeaeae !important;
}

#nav-above {
    display: none !important;
}

/**********************************HEADER**********************************/

@import "header";

/**********************************SLIDER**********************************/

@import "slider";

/**********************************LEAD FORM**********************************/

@import "lead-form";

/**********************************AS SEEN LOGO CAROUSEL**********************************/

@import "as-seen-logo-carousel";

/**********************************PRACTICES**********************************/

@import "practices";

/**********************************EXPERIENCE**********************************/

#expwrap {
    background: linear-gradient(
            rgba(225, 225, 225, 0.85),
            rgba(225, 225, 225, 0.85)
        ),
        url("/wp-content/themes/quaylaw/images/experience-background.jpg");
    background-size: cover;
    background-position: top center;
    clear: both;
    box-sizing: border-box;
    color: #fff;

    padding: 100px 0;
    margin: 30px 0px;
    overflow: hidden;
}

#expwrap .container {
    width: 50%;
}

.numbertext {
    font-size: 24px;
    font-weight: 800;
    color: #7a94af;
    display: inline-block;
}

.number {
    font-size: 60px;
    line-height: 60px;
    font-weight: 800;
    color: #283859;
    display: inline-block;
}

.over {
    font-size: 18px;
    font-weight: 600;
    color: #989898;
    border-bottom: 3px solid #989898;
    display: block;
    width: 60px;
}
/**********************************STAFF**********************************/

#staffwrap {
    background: white;
    overflow: hidden;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
.readmore {
    font-family: "Muli", sans-serif;
    color: #5376bf;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 20px auto 0px auto;
}

.readmore:hover {
    color: #7a94af;
}

.staff {
    border-bottom: 3px solid #5376bf;
    margin: 0 auto 15px;
    position: relative;
    width: 90%;

    @media (min-width: 786px) {
        a {
            display: block;
            // height: 249px;
            // outline: solid 1px red;
            // overflow: hidden;
        }
    }
}

.image {
    display: block;
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(33, 33, 33, 0.95);
    text-transform: none;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: 0.5s ease;
}

.staff:hover .overlay {
    height: 100%;
}

.text {
    font-family: "Muli", sans-serif;
    color: white;
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;

    left: 50%;
    overflow: hidden;
    overflow-wrap: break-word;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    white-space: pre-wrap;
    width: 90%;
}

.textname {
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 15px;
    color: #5376bf;
}

.staffname {
    color: #283859;
    box-sizing: border-box;
    font-size: 14px;
    font-weight: 600;
}

.staffname strong {
    font-size: 16px;
    font-weight: 800;
}

.bio {
    font-size: 18px;
    font-weight: 600;
    color: #5376bf;
}

.page-id-766 .staffname {
    text-align: center;
}

/**********************************TESTIMONIALS**********************************/

#teswrap {
    background: linear-gradient(rgba(33, 33, 33, 0.95), rgba(33, 33, 33, 0.95)),
        url(/wp-content/themes/quaylaw/images/pier-park-sunrise.jpg);
    background-size: cover;
    background-position: top center;
    overflow: hidden;
    box-sizing: border-box;
    clear: both;
    color: #fff;

    padding: 100px 0;
}

#teswrap .container {
    border: 1px solid white;
    margin: 0 auto;
    padding: 60px 100px 90px 100px;
    width: 70%;
    box-sizing: border-box;
}

#teswrap .image {
    float: left;
    margin-right: 40px;
    border-radius: 50px;
}

#teswrap .author {
    position: relative;
    left: 90%;
    clear: both;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
}

.page-id-26 .hms-testimonial-container {
    display: block;
    padding: 0px 0px 20px 0px;
    border-bottom: 1px solid #d6d6d6;
}

.hms-testimonial-container .author {
    color: #5376bf;
    font-size: 16px;
    font-weight: 600;
    left: 90%;
    line-height: 24px;
    position: relative;
    width: 35px;
}

.testimonial {
    margin: 0px 0px 0px 40px;
}

.home .testimonial {
    margin: 0px;
}

.testimonial:before {
    content: "\f10d";
    color: #aeaeae;
    display: block;
    font-family: FontAwesome;
    font-size: 36px;
    font-style: normal;
    font-weight: normal;
    left: -40px;
    position: relative;
    text-decoration: inherit;
    top: 30px;
}

.home .testimonial:before {
    display: none;
}

/***********************************CONTACT ******************************/

.page-id-17 aside #text-5 {
    display: none;
} /* hide sidebar form on contact page */

.page-id-17 input[type="submit"] {
    font-family: "Muli", sans-serif;
    background: #5376bf;
    color: #fff !important;
    font-size: 21px;
    line-height: 24px;
    padding: 10px 25px;
    text-transform: uppercase;
    box-shadow: none;
    border: none;
    font-weight: 800; /* extra bold */
    width: 100%;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}

.page-id-17 input[type="submit"]:hover {
    color: #fff;
    background-color: #283859;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}

.page-id-17 input[type="text"],
.page-id-17 input[type="tel"],
.page-id-17 input[type="password"],
.page-id-17 input[type="email"],
.page-id-17 input[type="url"],
.page-id-17 input[type="number"],
textarea {
    background: #fff;
    border: 1px solid #ccc;
    padding: 9px;
    width: 100%;
    color: #888888;
    box-sizing: border-box;
    margin-bottom: 15px;
}

.entry-content select,
.page-id-17 input[type="checkbox"] {
    border: 1px solid #ccc !important;
    box-sizing: border-box;
    margin-bottom: 15px;
    padding: 9px;
}

/**********************************FOOTER**********************************/

footer {
    background-color: #fff;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.2px;
    line-height: 24px;
    color: #7a94af;
}

footer .widget-container {
    display: inline-block;
    vertical-align: top;
    width: 32%;
}

footer .widget-title {
    font-family: "Muli", sans-serif;
    font-weight: 700;
    color: #283859;
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

#loco {
    overflow: hidden;
    margin-top: 30px;
    padding: 40px 0px 0px 0px;
    box-sizing: border-box;
    border-top: 1px solid #aeaeae;
}

.home #loco {
    overflow: hidden;
    margin-top: 30px;
    padding: 0px 0px 0px 0px;
    box-sizing: border-box;
    border-top: none;
}

.legal {
    font-size: 10px;
    line-height: 14px;
    text-align: center;
    position: relative;
    color: #aeaeae;
    top: -40px;
    padding: 0px 50px;
    box-sizing: border-box;
}

footer #text-2,
footer #text-4 {
    margin-top: 50px;
}

footer #text-2 {
    text-align: right;
    padding-right: 10px;
}
footer #text-4 {
    padding-left: 10px;
}

/*footer #text-2 .textwidget,
footer #text-2 .widget-title
{padding-left:160px;}*/

footer #text-3 {
    margin: 0 auto;
    text-align: center;
}

footer #text-2 a,
footer #text-4 a {
    color: #7a94af !important;
}

footer #text-2 a:hover,
footer #text-4 a:hover {
    color: #5376bf !important;
}

#copyright {
    background: #1d2c4a;
    padding: 15px;
    overflow: hidden;
    box-sizing: border-box;
    font-size: 10px;
    line-height: 18px;
    font-weight: 400;
    color: #7a94af;
}

#copyright a {
    color: #7a94af;
}
#copyright a:hover {
    color: #fff;
}

.sitecopy,
.longevity {
    display: inline-block;
    width: 50%;
}
.longevity {
    text-align: right;
}

#menuwrap {
    background: #283859;
    color: #fff;
    box-sizing: border-box;
    padding: 15px 0 5px 0;
    overflow: hidden;
}
#menuwrap .container {
    padding: 10px 0;
    box-sizing: border-box;
}

.footmenu li {
    display: inline;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.2px;
    padding-right: 20px;
}

.footmenu a {
    color: #fff;
    transition: all 0.5s ease;
}

.footmenu a:hover {
    color: #5376bf;
    transition: all 0.5s ease;
}

/**********************************SIDEBAR**********************************/

section.content .widget_nav_menu {
    padding-left: 30px;
    padding-right: 0;
}
section.content.left-sidebar .widget_nav_menu {
    padding-left: 0;
    padding-right: 30px;
}

aside input[type="submit"] {
    font-family: "Muli", sans-serif;
    background: #5376bf;
    color: #283859;
    font-size: 21px;
    line-height: 24px;
    padding: 10px 25px;
    text-transform: uppercase;
    box-shadow: none;
    border: none;
    font-weight: 800; /* extra bold */
    width: 100%;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}

aside input[type="submit"]:hover {
    background-color: #fff;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}

aside .widget-container {
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
    margin: 0 0 18px 0;
    background-color: #283859;
    padding: 25px;
    box-sizing: border-box;
    color: #fff;
    font-size: 14px;
    line-height: 18px;
}
.widget-container .wp-caption img {
    margin: auto;
}
aside .widget-title {
    font-family: "Muli", sans-serif;
    font-weight: 600;
    border-bottom: 1px solid #5376bf;
    color: #fff;
    font-size: 24px;
    padding: 0 0 10px;
    margin: 0 0 15px 0;
    line-height: 30px;
}
aside .entry-meta {
    font-size: 11px;
}

.widget_search #s {
    /* This keeps the search inputs in line */
    margin-bottom: 15px;
    width: 100%;
}
.widget_search label {
    display: block;
}

/**********************************MISC**********************************/

.wpcf7-form img.wpcf7-form-control {
    margin-top: -30px;
    position: absolute;
    right: 0px;
}
span.wpcf7-not-valid-tip,
div.wpcf7-mail-sent-ok {
    display: none !important;
}
.wpcf7-not-valid {
    border: 1px solid #f7ff1d !important;
}
div.wpcf7-validation-errors {
    border: medium none !important;
    color: #f7ff1d;
    margin: 0 !important;
    padding: 0 !important;
}

/**********************************RESPONSIVE STYLES**********************************/
.page-template-fullwidth-page section.content {
    width: 100%;
}
section.content,
div.menu,
#branding,
.container {
    width: 1240px;
}
.fullwidth {
    width: 100%;
    margin: 0 auto;
    // overflow: hidden;
}
.container {
    margin: 0 auto;
}

@media screen and (max-width: 1280px) {
    #expwrap .container {
        width: 50% !important;
    }

    .legal {
        font-size: 10px;
        line-height: 14px;
        text-align: center;
        position: relative;
        color: #aeaeae;
        top: -40px;
        padding: 0px 15px;
        box-sizing: border-box;
    }

    #teswrap {
        padding: 50px;
    }
    #teswrap .container {
        width: 90%;
        padding: 20px 40px 50px 40px;
    }

    footer #text-2 .textwidget,
    footer #text-2 .widget-title {
        padding-left: 0px;
    }

    section.content,
    .container {
        width: 100% !important;
    }

    div.menu,
    #branding,
    .container {
        margin: 0 auto;
        width: 100%;
    }

    footer .container {
        width: 95%;
    }

    /*
  LAYOUT: Two columns
  DESCRIPTION: Responsive.
  940 = 720 + 220
  100% = 76.5957447% + 23.40425535%
  */

    aside {
        overflow: hidden;
        width: 23.40425535%; /* 200px / 940px */
        padding-left: 0 !important;
    }
}

// @media screen and (max-width: 1024px) {

// .consult,
// .form{
//     width: 100%;
// 	display:block;
// 	text-align:center;
// 	margin:0 auto 15px auto;
// }

// }

@media screen and (max-width: 940px) {
    #expwrap .container {
        width: 100% !important;
    }

    header .container {
        padding: 0px;
    }

    // .tollfree{margin-right: 10px;}

    .logo {
        margin-left: 10px;
    }

    aside {
        display: block;
        width: 100% !important;
        box-sizing: border-box;
        min-width: inherit;
        min-width: initial;
        min-width: unset;
    }

    section.content,
    .container,
    main#content,
    section.content.left-sidebar main#content {
        display: block;
        width: 100% !important;
        padding: 20px;
        margin: 0;
        box-sizing: border-box;
        min-width: inherit;
        min-width: initial;
        min-width: unset;
    }

    section.content {
        padding: 0 !important;
    }

    #copyright .left,
    #copyright .right {
        padding: 0;
    }

    footer .left,
    footer .right {
        float: none !important;
        display: block;
        width: 100%;
        margin: 0 auto;
        text-align: center;
        padding: 10px 0px;
    }

    nav {
        background: transparent none repeat scroll 0 0;
        display: block;
        float: none;
        margin: 15px auto 0;
        width: 100%;
    }

    #mega-menu-wrap-primary,
    #mega-menu-wrap-primary #mega-menu-primary,
    #mega-menu-wrap-primary #mega-menu-primary ul.mega-sub-menu,
    #mega-menu-wrap-primary #mega-menu-primary li.mega-menu-item,
    #mega-menu-wrap-primary #mega-menu-primary a.mega-menu-link {
        // text-align:center !important;
    }

    .mega-menu-link {
        color: #fff !important;
        text-align: left;
    }

    .mega-menu-link:hover {
        color: #5376bf !important;
    }

    header {
        padding-bottom: 0;
    }

    .full_width,
    .one_half,
    .one_third,
    .two_third,
    .one_fourth,
    .three_fourth,
    .one_fifth,
    .two_fifth,
    .three_fifth,
    .four_fifth,
    .one_sixth,
    .five_sixth {
        clear: both;
        margin: 0 auto 1em auto;
        width: 100%;
    }

    #expwrap {
        padding: 30px;
        text-align: center;
    }
    #expwrap .content-column > div {
        padding: 0 !important;
    }

    .over {
        margin: 0 auto;
    }
}
@media screen and (max-width: 768px) {
    dl {
        width: 100%;
        display: block;
    }
    dt {
        width: 100%;
        display: block;
    }
    dd {
        width: 100%;
        display: block;
    }

    .alignright,
    img.alignright {
        display: block;
        float: none;
        margin: 10px auto;
        text-align: center;
    }

    .wp-pagenavi span.pages,
    a.first,
    span.extend,
    a.page.smaller,
    a.page.larger,
    a.larger.page,
    a.last {
        display: none;
    }

    .viewall {
        width: 90%;
    }

    .legal {
        font-size: 10px;
        line-height: 14px;
        text-align: center;
        position: relative;
        top: 0px;
        padding: 0px 20px;
        box-sizing: border-box;
        margin: 20px auto 20px auto;
    }

    footer #text-2,
    footer #text-4 {
        margin-top: 10px;
        text-align: center;
    }

    footer .widget-container {
        display: block;
        vertical-align: top;
        margin: 0 auto;
        text-align: center;
        width: 100%;
    }

    .left,
    .right {
        float: none !important;
        display: block;
        width: 100%;
        margin: 0 auto;
        text-align: center;
        padding: 10px 0px;
    }

    #logos {
        width: 100%;
        display: block;
        margin: 0 auto;
        padding: 0;
    }

    #leadform {
        padding: 15px;
        box-sizing: border-box;
    }

    #leadform .content-column {
        padding: 0px 0px 10px 0px !important;
        display: block;
        margin: 0 auto;
        width: 100%;
    }

    section.content .widget_nav_menu,
    section.content.left-sidebar .widget_nav_menu {
        padding-right: 0px;
        padding-left: 0px;
    }
    #copyright,
    #longevity {
        display: block;
        text-align: center;
        width: 100%;
    }
}
@media screen and (max-width: 603px) {
    .metaslider img {
        /*height: 140px !important;*/
        margin: 0;
        padding: 0;
        /*width: 200% !important;*/
    }
}
@media screen and (max-width: 520px) {
    #teswrap {
        padding: 20px;
    }

    .carousel {
        width: 100%;
    }

    .owl-carousel-item-text {
        text-align: center !important;
    }

    .owl-carousel .owl-item {
        float: left;
        margin: 0 15px 0 0;
        width: auto !important;
    }
}

@media screen and (max-width: 480px) {
    aside input[type="submit"] {
        font-size: 16px;
        padding: 10px;
    }

    // .tollfree span {display:none;}
}

@media screen and (max-width: 320px) {
}

@media only screen and (min-width: 768px) {
    .scroll-back-to-top-wrapper {
        display: none;
    }
}

// Targeting the phone number on the lawyers page. This most likely needs to be refactored.
.type-page .entry-content dd {
    // Mobile First
    @media (max-width: 786px) {
        a[href^="tel"] {
            // outline: solid 1px red;
            pointer-events: initial;
        }
    }

    pointer-events: none;
}
